
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="zh-CN"> 
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" /> 
	<title>囧囧有神</title> 
	<meta name="description" content="" /> 
	<meta name="keywords" content="" /> 
	<link rel="stylesheet" type="text/css" href="/static/css/base.css" media="screen" /> 
	 
	<script type="text/javascript" src="/static/js/jquery.1.4.min.js"></script>
	<link rel='index' title='' href='/' /> 
	<script type="text/javascript"> 
		$(document).ready(function(){
			$("#pageloading").hide();
		});
	</script>
</head> 
<body> 
	<div id='pageloading'>正在加载...</div> 
	<div id="container"> 
		<div id="header">
			<div class="intro"> 
				<h1><a href="/">囧囧有神</a></h1> 
				<div class="description">我们的囧囧人参</div> 
			</div>
			<div class="nav"> 
				<ul class="clearfix"> 
					<li class="title">微博：</li> 
					<li><a href="/tweets">新浪微博最新微博</a></li>
				</ul>
			</div>
		</div>
		<div id="content">
		
